## 分组聚合

In [4]:
import pandas as pd
import numpy as np

In [8]:
data = {
    '城市':['北京','上海','广州','北京','上海','广州'],
    '人口':[2154,2424,1303,2154,2424,1303],
    '年龄':[25,30,35,25,30,None],
    '收入':[5000,6000,7000,5000,None,7000]
}

In [10]:
df = pd.DataFrame(data)
df

   城市    人口    年龄      收入
0  北京  2154  25.0  5000.0
1  上海  2424  30.0  6000.0
2  广州  1303  35.0  7000.0
3  北京  2154  25.0  5000.0
4  上海  2424  30.0     NaN
5  广州  1303   NaN  7000.0

In [6]:
for i,j in df.groupby('年龄'):
    print(i)
    print(j)

25
   城市    人口  年龄    收入
0  北京  2154  25  5000
3  北京  2154  25  5000
30
   城市    人口  年龄    收入
1  上海  2424  30  6000
4  上海  2424  30  6000
35
   城市    人口  年龄    收入
2  广州  1303  35  7000
5  广州  1303  35  7000

In [11]:
for i,j in df.groupby('年龄',dropna=True):
    print(i)
    print(j)

25.0
   城市    人口    年龄      收入
0  北京  2154  25.0  5000.0
3  北京  2154  25.0  5000.0
30.0
   城市    人口    年龄      收入
1  上海  2424  30.0  6000.0
4  上海  2424  30.0     NaN
35.0
   城市    人口    年龄      收入
2  广州  1303  35.0  7000.0

In [13]:
data = {
    '城市':['北京','上海','广州','北京','上海','广州'],
    '人口':[2154,2424,1303,2154,2424,1303],
    '年龄':[25,22,35,25,35,35],
    '收入':[5000,6000,7000,8000,10000,7000]
}
df = pd.DataFrame(data)
df

   城市    人口  年龄     收入
0  北京  2154  25   5000
1  上海  2424  22   6000
2  广州  1303  35   7000
3  北京  2154  25   8000
4  上海  2424  35  10000
5  广州  1303  35   7000

In [14]:
# 统计每个城市的平均年龄
df.groupby('城市')['年龄'].mean()

城市
上海    28.5
北京    25.0
广州    35.0
Name: 年龄, dtype: float64

In [15]:
# 统计每个城市的平均收入
df.groupby('城市')['收入'].mean()

城市
上海    8000.0
北京    6500.0
广州    7000.0
Name: 收入, dtype: float64

In [16]:
# 拓展
# 把平均收入添加到表格中去
df['平均工资'] = df.groupby('城市')['收入'].transform('mean')
df
# transform 方法会返回一个与df的DataFrame形状相同的Series

   城市    人口  年龄     收入    平均工资
0  北京  2154  25   5000  6500.0
1  上海  2424  22   6000  8000.0
2  广州  1303  35   7000  7000.0
3  北京  2154  25   8000  6500.0
4  上海  2424  35  10000  8000.0
5  广州  1303  35   7000  7000.0

In [18]:
data = {
    '城市':['北京','北京','上海','上海','广州','广州'],
    '店铺':['茶颜悦色','茶百道','喜茶','沪上阿姨','瑞幸','茶颜悦色'],
    '销售额':[1200,1500,900,1100,1800,1600]
}
df = pd.DataFrame(data)
df

   城市    店铺   销售额
0  北京  茶颜悦色  1200
1  北京   茶百道  1500
2  上海    喜茶   900
3  上海  沪上阿姨  1100
4  广州    瑞幸  1800
5  广州  茶颜悦色  1600

In [20]:
# 设置多个索引的 inplace 为True 表示自己在原数据上进行操作
df.set_index(['城市','店铺'],inplace=True)
df

          销售额
城市 店铺
北京 茶颜悦色  1200
   茶百道   1500
上海 喜茶     900
   沪上阿姨  1100
广州 瑞幸    1800
   茶颜悦色  1600

In [21]:
# 按城市分组计算
print(df.groupby(level='店铺').sum())

       销售额
店铺
喜茶     900
沪上阿姨  1100
瑞幸    1800
茶百道   1500
茶颜悦色  2800

In [25]:
data = {
    '产品':['苹果','香蕉','苹果','橙子','香蕉','平果'],
    '订单号':[1,2,3,4,5,6],
    '金额':[100,150,200,120,180,130]
}
df1 = pd.DataFrame(data)
# 计算每个产品的总金额
print(df1.groupby('产品')['金额'].sum())
# 计算每个产品总金额和平均金额
print(df1.groupby('产品').agg({'金额':['sum','mean']}))
# 计算产品的总金额和订单量
print(df1.groupby('产品').agg({'金额':'sum','订单号':'count'}))

产品
平果    130
橙子    120
苹果    300
香蕉    330
Name: 金额, dtype: int64
     金额
    sum   mean
产品
平果  130  130.0
橙子  120  120.0
苹果  300  150.0
香蕉  330  165.0
     金额  订单号
产品
平果  130    1
橙子  120    1
苹果  300    2
香蕉  330    2

In [30]:
data = {
    '产品':['苹果','香蕉','苹果','橙子','香蕉','苹果'],
    '数量':[5,6,7,3,2,1],
    '单价':[6.5,4.5,7.8,3.2,3.9,8.9]
}
df2 = pd.DataFrame(data)
# 计算每个产品的总金额
# 1.先计算每个产品的总价和平均价
df2['总价'] = df2['数量']*df2['单价']
# 2.再进行分组统计
df2.groupby('产品').agg({'总价':'sum','单价':'mean'})

      总价        单价
产品
橙子   9.6  3.200000
苹果  96.0  7.733333
香蕉  34.8  4.200000

## 透视表

In [32]:
data = {
    '订单日期':pd.date_range(start='2024-01-01',periods=12,freq='ME'),
    '产品类别':['电子产品','家居用品','服装','电子产品','家居用品','服装','电子产品','家居用品','服装','电子产品','家居用品','服装'],
    '销售额':[5000,3000,2000,5500,3200,2200,6000,3500,2300,5200,3100,2100]
}
df3 = pd.DataFrame(data)
print(df3)
# 统计每个月份的不同产品的销售额
pd.pivot_table(
    df3,
    values='销售额',
    index=df3['订单日期'].dt.strftime('%Y %m月'),
    columns='产品类别',
    aggfunc='sum',
    fill_value=0 # 缺失的值用0来代替
)

         订单日期  产品类别   销售额
0  2024-01-31  电子产品  5000
1  2024-02-29  家居用品  3000
2  2024-03-31    服装  2000
3  2024-04-30  电子产品  5500
4  2024-05-31  家居用品  3200
5  2024-06-30    服装  2200
6  2024-07-31  电子产品  6000
7  2024-08-31  家居用品  3500
8  2024-09-30    服装  2300
9  2024-10-31  电子产品  5200
10 2024-11-30  家居用品  3100
11 2024-12-31    服装  2100

产品类别      家居用品    服装  电子产品
订单日期
2024 01月     0     0  5000
2024 02月  3000     0     0
2024 03月     0  2000     0
2024 04月     0     0  5500
2024 05月  3200     0     0
2024 06月     0  2200     0
2024 07月     0     0  6000
2024 08月  3500     0     0
2024 09月     0  2300     0
2024 10月     0     0  5200
2024 11月  3100     0     0
2024 12月     0  2100     0

In [33]:
pd.pivot_table(
    df3,
    values='销售额',
    index=df3['订单日期'].dt.strftime('%Y %m月'),
    columns='产品类别',
    aggfunc='mean',
    fill_value=0 # 缺失的值用0来代替
)

产品类别        家居用品      服装    电子产品
订单日期
2024 01月     0.0     0.0  5000.0
2024 02月  3000.0     0.0     0.0
2024 03月     0.0  2000.0     0.0
2024 04月     0.0     0.0  5500.0
2024 05月  3200.0     0.0     0.0
2024 06月     0.0  2200.0     0.0
2024 07月     0.0     0.0  6000.0
2024 08月  3500.0     0.0     0.0
2024 09月     0.0  2300.0     0.0
2024 10月     0.0     0.0  5200.0
2024 11月  3100.0     0.0     0.0
2024 12月     0.0  2100.0     0.0

In [35]:
data = {
    '国家':['鹰酱','鹰酱','鹰酱','兔子','兔子','兔子','白象','白象','白象','脚盆鸡','脚盆鸡','脚盆鸡'],
    '年份':[2021,2022,2023,2021,2022,2023,2021,2022,2023,2021,2022,2023],
    '人口':[3.27,3.30,3.34,14.12,14.12,14.47,13.54,13.54,14.03,1.26,1.25,1.25],
    'GDP':[23,25.47,27.36,17.71,18,17.9,3.98,3.57,3.73,5.1,4.26,4.24]
}
df4 = pd.DataFrame(data)
# 计算每个国家的平均GDP
print(df4)
df4.groupby('国家')['GDP'].mean()

     国家    年份     人口    GDP
0    鹰酱  2021   3.27  23.00
1    鹰酱  2022   3.30  25.47
2    鹰酱  2023   3.34  27.36
3    兔子  2021  14.12  17.71
4    兔子  2022  14.12  18.00
5    兔子  2023  14.47  17.90
6    白象  2021  13.54   3.98
7    白象  2022  13.54   3.57
8    白象  2023  14.03   3.73
9   脚盆鸡  2021   1.26   5.10
10  脚盆鸡  2022   1.25   4.26
11  脚盆鸡  2023   1.25   4.24

国家
兔子     17.870000
白象      3.760000
脚盆鸡     4.533333
鹰酱     25.276667
Name: GDP, dtype: float64

In [37]:
print(df4.groupby('国家')['GDP'].mean().reset_index())
df4.groupby('国家')[['人口','GDP']].mean().reset_index()
# reset_index() 可以帮我们把series结果转换成DataFrame对象并重新建立索引，其中 国家和GDP 作为列存在的

    国家        GDP
0   兔子  17.870000
1   白象   3.760000
2  脚盆鸡   4.533333
3   鹰酱  25.276667

    国家         人口        GDP
0   兔子  14.236667  17.870000
1   白象  13.703333   3.760000
2  脚盆鸡   1.253333   4.533333
3   鹰酱   3.303333  25.276667

## 文件读取

In [40]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',encoding='GBK')

            日期   股票0   股票1   股票2   股票3   股票4
0     2020/5/8  1.45  2.52 -1.82  1.86  4.50
1     2020/5/8  0.46  3.05 -5.54  3.26  2.17
2     2020/5/8 -5.05  1.55  0.22  0.53  1.63
3     2020/5/8  7.39  3.30  1.46  1.18  1.31
4     2020/5/8 -1.11  0.04  1.50 -3.21  1.58
...        ...   ...   ...   ...   ...   ...
9995  2020/5/8  3.23  2.18  2.46 -5.91  1.85
9996  2020/5/8  1.73  3.41  1.46  1.71 -1.13
9997  2020/5/8 -4.17 -4.04 -2.02  4.45  3.91
9998  2020/5/8  5.57  2.89 -0.81  2.60 -1.68
9999  2020/5/8 -2.09  5.27 -2.04  4.75  3.32

[10000 rows x 6 columns]

In [41]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
           header=2
           )

      2020/5/8  0.46  3.05  -5.54  3.26  2.17
0     2020/5/8 -5.05  1.55   0.22  0.53  1.63
1     2020/5/8  7.39  3.30   1.46  1.18  1.31
2     2020/5/8 -1.11  0.04   1.50 -3.21  1.58
3     2020/5/8  0.05  0.48   0.95  0.14 -0.64
4     2020/5/8  0.15 -1.28   1.48 -3.25 -8.87
...        ...   ...   ...    ...   ...   ...
9993  2020/5/8  3.23  2.18   2.46 -5.91  1.85
9994  2020/5/8  1.73  3.41   1.46  1.71 -1.13
9995  2020/5/8 -4.17 -4.04  -2.02  4.45  3.91
9996  2020/5/8  5.57  2.89  -0.81  2.60 -1.68
9997  2020/5/8 -2.09  5.27  -2.04  4.75  3.32

[9998 rows x 6 columns]

In [42]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
           header=[0,1,2]
           )

            日期   股票0   股票1   股票2   股票3   股票4
      2020/5/8  1.45  2.52 -1.82  1.86   4.5
      2020/5/8  0.46  3.05 -5.54  3.26  2.17
0     2020/5/8 -5.05  1.55  0.22  0.53  1.63
1     2020/5/8  7.39  3.30  1.46  1.18  1.31
2     2020/5/8 -1.11  0.04  1.50 -3.21  1.58
3     2020/5/8  0.05  0.48  0.95  0.14 -0.64
4     2020/5/8  0.15 -1.28  1.48 -3.25 -8.87
...        ...   ...   ...   ...   ...   ...
9993  2020/5/8  3.23  2.18  2.46 -5.91  1.85
9994  2020/5/8  1.73  3.41  1.46  1.71 -1.13
9995  2020/5/8 -4.17 -4.04 -2.02  4.45  3.91
9996  2020/5/8  5.57  2.89 -0.81  2.60 -1.68
9997  2020/5/8 -2.09  5.27 -2.04  4.75  3.32

[9998 rows x 6 columns]

In [45]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
           index_col=0
           )

           股票0   股票1   股票2   股票3   股票4
日期
2020/5/8  1.45  2.52 -1.82  1.86  4.50
2020/5/8  0.46  3.05 -5.54  3.26  2.17
2020/5/8 -5.05  1.55  0.22  0.53  1.63
2020/5/8  7.39  3.30  1.46  1.18  1.31
2020/5/8 -1.11  0.04  1.50 -3.21  1.58
...        ...   ...   ...   ...   ...
2020/5/8  3.23  2.18  2.46 -5.91  1.85
2020/5/8  1.73  3.41  1.46  1.71 -1.13
2020/5/8 -4.17 -4.04 -2.02  4.45  3.91
2020/5/8  5.57  2.89 -0.81  2.60 -1.68
2020/5/8 -2.09  5.27 -2.04  4.75  3.32

[10000 rows x 5 columns]

In [46]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
           index_col='日期'
           )

           股票0   股票1   股票2   股票3   股票4
日期
2020/5/8  1.45  2.52 -1.82  1.86  4.50
2020/5/8  0.46  3.05 -5.54  3.26  2.17
2020/5/8 -5.05  1.55  0.22  0.53  1.63
2020/5/8  7.39  3.30  1.46  1.18  1.31
2020/5/8 -1.11  0.04  1.50 -3.21  1.58
...        ...   ...   ...   ...   ...
2020/5/8  3.23  2.18  2.46 -5.91  1.85
2020/5/8  1.73  3.41  1.46  1.71 -1.13
2020/5/8 -4.17 -4.04 -2.02  4.45  3.91
2020/5/8  5.57  2.89 -0.81  2.60 -1.68
2020/5/8 -2.09  5.27 -2.04  4.75  3.32

[10000 rows x 5 columns]

In [47]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
           index_col=['日期','股票0']
           )

                 股票1   股票2   股票3   股票4
日期       股票0
2020/5/8  1.45  2.52 -1.82  1.86  4.50
          0.46  3.05 -5.54  3.26  2.17
         -5.05  1.55  0.22  0.53  1.63
          7.39  3.30  1.46  1.18  1.31
         -1.11  0.04  1.50 -3.21  1.58
...              ...   ...   ...   ...
          3.23  2.18  2.46 -5.91  1.85
          1.73  3.41  1.46  1.71 -1.13
         -4.17 -4.04 -2.02  4.45  3.91
          5.57  2.89 -0.81  2.60 -1.68
         -2.09  5.27 -2.04  4.75  3.32

[10000 rows x 4 columns]

In [50]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
           index_col='日期'
           ).info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 2020/5/8 to 2020/5/8
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   股票0     10000 non-null  float64
 1   股票1     10000 non-null  float64
 2   股票2     10000 non-null  float64
 3   股票3     10000 non-null  float64
 4   股票4     10000 non-null  float64
dtypes: float64(5)
memory usage: 468.8+ KB

In [51]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
           ).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      10000 non-null  object
 1   股票0     10000 non-null  float64
 2   股票1     10000 non-null  float64
 3   股票2     10000 non-null  float64
 4   股票3     10000 non-null  float64
 5   股票4     10000 non-null  float64
dtypes: float64(5), object(1)
memory usage: 468.9+ KB

In [52]:
pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
            parse_dates=['日期']
           ).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      10000 non-null  datetime64[ns]
 1   股票0     10000 non-null  float64
 2   股票1     10000 non-null  float64
 3   股票2     10000 non-null  float64
 4   股票3     10000 non-null  float64
 5   股票4     10000 non-null  float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 468.9 KB

In [53]:
df6 = pd.read_csv(r'./06.pandas分组聚合读取/exa5.csv',
            encoding='GBK',
            chunksize=100
           )
for i in df6:
    print(i)

           日期   股票0   股票1   股票2   股票3   股票4
0    2020/5/8  1.45  2.52 -1.82  1.86  4.50
1    2020/5/8  0.46  3.05 -5.54  3.26  2.17
2    2020/5/8 -5.05  1.55  0.22  0.53  1.63
3    2020/5/8  7.39  3.30  1.46  1.18  1.31
4    2020/5/8 -1.11  0.04  1.50 -3.21  1.58
..        ...   ...   ...   ...   ...   ...
95  2020/5/10  0.47  5.02  2.72 -4.15 -1.03
96  2020/5/10 -5.48 -3.26 -5.70 -3.36 -1.37
97  2020/5/10 -1.93 -3.55  1.38 -7.13 -0.50
98  2020/5/10  0.27  5.07 -0.53  2.07 -1.97
99  2020/5/10  1.50  0.38  0.22 -0.90 -0.52

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
100  2020/5/10  0.48 -5.64  0.23  0.89 -1.07
101  2020/5/11 -0.26  1.95  4.84  1.55 -0.02
102  2020/5/11  3.17  5.26  4.25  3.21 -1.19
103  2020/5/11  0.19  1.19  0.34 -0.76 -3.12
104  2020/5/11 -1.00  1.00  0.19 -1.11  4.71
..         ...   ...   ...   ...   ...   ...
195   2020/5/8  2.13 -1.13  2.90 -2.02  0.89
196   2020/5/8 -0.67  2.36 -0.62  4.86 -0.10
197   2020/5/8 -2.56 -0.23 -0.27  3.35  4.31
198   2020/5/8  2.15 -6.16 -2.40  2.09  2.48
199   2020/5/8 -4.96 -3.38  1.27  0.12  1.12

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
200   2020/5/8 -4.63  4.26  6.40 -3.08 -1.27
201   2020/5/8 -0.47  8.88  3.53  4.23 -3.93
202   2020/5/8  7.05 -1.90  3.08  3.20 -0.49
203   2020/5/9 -7.67 -7.41 -2.25 -0.10  3.32
204   2020/5/9  0.15  1.73  0.65  3.64  5.43
..         ...   ...   ...   ...   ...   ...
295   2020/5/9 -2.92 -4.45 -0.06 -0.08 -3.15
296   2020/5/9  2.42 -2.16  4.57  0.28  0.50
297   2020/5/9 -2.80 -0.35  1.05  5.27 -0.23
298   2020/5/9  6.16  4.87  5.25  2.81 -1.17
299  2020/5/10  1.34  2.27  0.13 -4.51  5.48

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
300  2020/5/10  2.16 -3.82 -1.63 -0.12 -3.02
301  2020/5/10  0.30 -3.21 -2.52  1.04 -2.57
302  2020/5/10 -0.50 -0.88  1.57 -3.12 -3.30
303  2020/5/10 -3.43  0.91  0.53 -4.82  8.50
304  2020/5/10  1.26  4.46 -0.86 -0.54  2.69
..         ...   ...   ...   ...   ...   ...
395  2020/5/12  0.95  1.85  2.23  1.98  3.15
396  2020/5/12 -0.12  2.34  1.33 -0.17 -1.38
397  2020/5/12 -1.13 -1.88  1.54 -1.88  2.59
398  2020/5/12  2.11  2.41 -2.58 -0.50 -3.86
399  2020/5/12  0.32  3.09  3.65 -2.97 -1.91

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
400  2020/5/12  3.33 -3.22 -1.04 -7.36 -2.01
401  2020/5/12 -4.16 -3.56 -2.50 -3.18  1.33
402  2020/5/12  3.40 -0.10 -0.10  3.42  3.45
403  2020/5/12  1.60 -0.61  2.28 -2.03 -3.79
404   2020/5/8  1.20 -4.93 -8.99 -2.24 -3.35
..         ...   ...   ...   ...   ...   ...
495   2020/5/8  0.36  0.06 -3.56 -0.62 -4.77
496   2020/5/8  0.52  4.12  7.66 -4.56  0.32
497   2020/5/8 -2.80  2.93 -3.17 -3.08  3.25
498   2020/5/8  3.14  1.33 -0.88 -1.80  3.88
499   2020/5/9  2.11  1.37  1.26 -4.28 -0.36

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
500   2020/5/9  2.73  2.97 -2.54 -2.51 -2.98
501   2020/5/9 -1.44  2.36  3.76 -2.73 -1.02
502   2020/5/9 -1.46 -1.61 -5.47 -7.48  0.88
503   2020/5/9 -2.94 -0.29  1.87  1.43 -0.04
504   2020/5/9 -2.82  5.14  3.24  1.06 -3.82
..         ...   ...   ...   ...   ...   ...
595  2020/5/11  3.25  3.43  0.27 -3.76 -3.07
596  2020/5/11  1.16 -1.66 -1.43 -4.74  1.90
597  2020/5/11 -1.53 -2.50 -0.42  6.39 -1.66
598  2020/5/11 -3.76  6.98  4.39  5.59  0.81
599  2020/5/11  0.12  3.26  2.22  2.16  1.49

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
600  2020/5/11 -3.07 -3.39  0.12  2.55 -4.66
601  2020/5/11 -0.49 -0.08 -2.37  0.28  0.23
602  2020/5/12 -0.28  1.84 -4.66 -0.05 -0.80
603  2020/5/12 -1.33 -1.14  0.02 -5.27 -0.42
604  2020/5/12 -0.72 -0.25 -3.04 -7.77 -3.96
..         ...   ...   ...   ...   ...   ...
695   2020/5/9 -0.70 -4.67  7.02  2.75  6.17
696   2020/5/9  2.56 -0.60  4.04  2.56  1.27
697   2020/5/9 -1.00  0.90 -0.53  1.79 -1.74
698   2020/5/9  0.49 -1.82 -4.90  1.45  0.63
699   2020/5/9  2.20  3.09  3.50 -1.22  1.85

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
700   2020/5/8 -0.24  2.51 -1.34  5.83 -1.32
701   2020/5/8  2.15 -2.68 -2.03  1.25 -3.54
702   2020/5/8  2.18  2.55 -0.23 -0.70 -4.41
703   2020/5/8 -1.71 -1.53  4.31 -0.59 -2.15
704   2020/5/8 -0.86  1.34 -0.72 -0.22 -1.51
..         ...   ...   ...   ...   ...   ...
795  2020/5/10 -0.82  1.06 -0.13  1.79  1.81
796  2020/5/10  1.72 -0.59  0.04 -4.53  2.28
797  2020/5/10  0.13  1.88 -5.16  0.33  0.08
798  2020/5/10 -4.83  5.21 -1.76 -2.19  6.75
799  2020/5/10  1.58 -0.23 -0.81  1.35 -1.76

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
800  2020/5/10 -2.18 -1.52  4.24  0.69  5.06
801  2020/5/11 -1.60  1.46 -6.00 -1.26  3.61
802  2020/5/11 -0.69 -5.34  0.33  3.87 -0.40
803  2020/5/11 -2.75  2.27 -0.01  0.46 -1.30
804  2020/5/11  3.24  4.63 -1.54  1.24 -0.72
..         ...   ...   ...   ...   ...   ...
895   2020/5/8  1.96 -1.47  0.57  6.03  2.14
896   2020/5/8  3.89  1.51  5.54 -3.44 -2.00
897   2020/5/8  5.06 -1.21  0.98  0.09 -1.98
898   2020/5/8  4.79 -2.75  2.19  4.53 -0.69
899   2020/5/8  1.16 -1.59  2.06  1.79  1.24

[100 rows x 6 columns]
            日期   股票0   股票1   股票2   股票3   股票4
900   2020/5/8 -0.40 -2.55 -3.99 -3.02  0.02
901   2020/5/8 -2.96  5.53 -2.45 -2.78 -2.92
902   2020/5/8  0.23  2.73 -1.33  4.56  1.15
903   2020/5/9 -0.62  0.91  4.78 -3.20  1.67
904   2020/5/9  2.23 -0.91 -2.34  2.04 -5.79
..         ...   ...   ...   ...   ...   ...
995   2020/5/9  6.06  5.72  3.45 -4.33  0.33
996   2020/5/9  3.43  1.22  3.59 -1.24 -0.40
997   2020/5/9  2.53 -0.93 -1.87 -1.28 -0.20
998   2020/5/9  3.72  1.20  1.60 -3.28  0.50
999  2020/5/10 -0.54 -9.03 -0.25 -0.87  6.56

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
1000  2020/5/10  1.24 -3.10 -3.65 -3.11 -0.30
1001  2020/5/10 -2.98 -3.88  0.72  1.88 -0.57
1002  2020/5/10 -2.17  1.29 -3.88  2.42 -3.68
1003  2020/5/10  1.98 -3.54  0.17 -3.76 -0.31
1004  2020/5/10  4.45  1.61 -1.02 -0.65  0.89
...         ...   ...   ...   ...   ...   ...
1095  2020/5/12  1.88 -6.23 -0.34 -0.76  1.26
1096  2020/5/12 -0.05  2.52  3.35 -0.08 -1.53
1097  2020/5/12  1.25  0.80  0.84 -3.88  2.91
1098  2020/5/12  1.86 -3.31  1.91 -0.68 -5.25
1099  2020/5/12 -1.22  1.12 -0.82  0.93  2.23

[100 rows x 6 columns]
             日期    股票0   股票1   股票2   股票3   股票4
1100  2020/5/12  -3.03  2.76 -2.18  3.92 -4.26
1101  2020/5/12   4.64 -3.87  0.01 -4.50  0.24
1102  2020/5/12   2.04 -0.61  3.09  3.40 -5.67
1103  2020/5/12   1.45 -1.97 -1.83  4.24  0.19
1104   2020/5/8   0.11 -2.33  2.25  3.40  0.37
...         ...    ...   ...   ...   ...   ...
1195   2020/5/8   1.13 -0.55  2.77  1.86 -2.63
1196   2020/5/8  -1.01 -0.54 -2.11 -6.33 -4.94
1197   2020/5/8  10.98  2.52 -7.11  0.23 -1.40
1198   2020/5/8  -1.78 -2.99  0.98  0.60  3.08
1199   2020/5/9  -0.87  1.33  0.14  1.92 -4.37

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
1200   2020/5/9 -4.32  0.02  4.42  4.21 -2.71
1201   2020/5/9 -2.62 -2.78  3.15 -2.24  5.82
1202   2020/5/9  0.05  3.89  5.00 -3.45  0.30
1203   2020/5/9 -5.52 -1.10  3.80  0.73  3.02
1204   2020/5/9 -0.24 -2.69  0.08  1.88 -1.65
...         ...   ...   ...   ...   ...   ...
1295  2020/5/11 -1.08 -2.53 -0.77 -5.51  0.27
1296  2020/5/11  3.27 -1.31  2.57  3.77  0.79
1297  2020/5/11  0.03 -0.31 -0.66  1.32  1.87
1298  2020/5/11  0.17 -9.23 -0.53  4.87 -4.20
1299  2020/5/11  3.21  1.69 -0.51 -6.06  5.89

[100 rows x 6 columns]
             日期   股票0   股票1   股票2    股票3   股票4
1300  2020/5/11 -0.43 -1.02  0.68  -1.83 -2.96
1301  2020/5/11 -1.57 -0.75  1.36  -0.80  1.73
1302  2020/5/12 -3.67  4.78  3.46   3.13  0.76
1303  2020/5/12  1.52 -0.86 -0.88   2.46  0.54
1304  2020/5/12  3.22 -1.02  0.09   0.92 -5.99
...         ...   ...   ...   ...    ...   ...
1395   2020/5/9  3.20  2.52  3.79   5.73  0.65
1396   2020/5/9 -0.30 -6.11  0.14  -2.27 -5.10
1397   2020/5/9 -1.38 -2.87  6.42 -11.10 -3.14
1398   2020/5/9 -1.77  0.08  1.51  -0.79  1.55
1399   2020/5/9  2.19 -0.93 -2.35   0.04 -3.20

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
1400   2020/5/8 -0.99 -4.78  1.88 -1.68 -0.65
1401   2020/5/8  4.37 -0.93 -3.10  2.38  0.50
1402   2020/5/8  3.32  4.38  0.14 -4.02 -2.70
1403   2020/5/8 -6.94 -1.65 -1.57  3.57 -0.52
1404   2020/5/8 -1.28  0.99 -2.22  3.29 -1.47
...         ...   ...   ...   ...   ...   ...
1495  2020/5/10 -1.56 -1.23  1.66  8.16  2.42
1496  2020/5/10 -3.48 -5.15  1.30  0.02  0.32
1497  2020/5/10 -1.18 -0.32  2.20 -0.09 -1.08
1498  2020/5/10  5.25 -0.62  2.23 -4.95  2.42
1499  2020/5/10  0.81 -0.63 -4.84  0.93 -3.21

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
1500  2020/5/10  0.07  0.12  4.64  1.09  1.54
1501  2020/5/11 -3.43  1.79  0.87  3.90 -0.53
1502  2020/5/11  4.79  3.81  1.07 -3.99  0.46
1503  2020/5/11 -2.71 -4.66 -0.43  0.51  4.34
1504  2020/5/11 -0.37 -1.52 -3.58 -6.02  1.95
...         ...   ...   ...   ...   ...   ...
1595   2020/5/8  4.36 -2.79  2.22  1.08 -1.30
1596   2020/5/8 -2.85 -4.61  8.19 -0.85 -2.23
1597   2020/5/8  1.78  2.17 -2.52 -3.11  6.26
1598   2020/5/8  3.54  2.61 -2.52  1.47 -1.47
1599   2020/5/8 -0.16  2.70  2.02 -2.60 -1.45

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
1600   2020/5/8  2.43 -0.01  1.46 -1.72  7.36
1601   2020/5/8  1.96  2.53 -0.68 -1.78  3.11
1602   2020/5/8  3.27 -2.78 -1.77  0.55 -0.08
1603   2020/5/9 -0.13  5.01  0.97  2.95  2.17
1604   2020/5/9 -4.47  5.69 -2.61  0.24  0.77
...         ...   ...   ...   ...   ...   ...
1695   2020/5/9  1.47  1.36 -0.96 -0.50 -1.04
1696   2020/5/9 -0.04  3.20 -2.52 -5.98  1.60
1697   2020/5/9  1.45  1.23 -3.37 -4.31  4.74
1698   2020/5/9  0.89 -6.23 -1.68  0.27 -0.19
1699  2020/5/10  0.24 -3.81 -1.34  3.62 -2.33

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
1700  2020/5/10  2.40 -1.86  1.49  3.69 -1.86
1701  2020/5/10 -0.20 -0.89 -0.47 -2.92 -1.69
1702  2020/5/10 -0.49  2.65 -2.53 -0.75 -0.42
1703  2020/5/10 -2.68 -4.79 -0.81  2.43  1.19
1704  2020/5/10 -0.46  1.63  0.97 -1.92  1.59
...         ...   ...   ...   ...   ...   ...
1795  2020/5/12 -1.21 -8.93  0.46  3.26  2.54
1796  2020/5/12 -2.34 -4.47  1.02 -5.99 -2.27
1797  2020/5/12  0.65 -1.17  1.14  8.85  4.80
1798  2020/5/12 -1.22  0.58  2.84 -4.68 -1.93
1799  2020/5/12 -1.07  3.76  1.55  0.65  2.75

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
1800  2020/5/12  5.94  0.90  2.48 -0.96 -0.19
1801  2020/5/12 -0.16  0.45  1.74 -3.65 -3.16
1802  2020/5/12  0.55  3.91  2.89  1.30  1.50
1803  2020/5/12 -0.28 -0.61 -2.22  8.33  2.52
1804   2020/5/8 -0.78 -2.12 -4.96  7.19  2.16
...         ...   ...   ...   ...   ...   ...
1895   2020/5/8 -1.19  1.43 -1.43  0.60 -1.33
1896   2020/5/8  2.09 -3.11  2.50 -2.32  4.95
1897   2020/5/8 -0.07  1.37 -3.95 -0.84 -3.13
1898   2020/5/8 -6.75 -3.89  0.51 -3.89 -3.28
1899   2020/5/9 -2.57 -0.48  6.71  0.80 -3.25

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
1900   2020/5/9 -5.14 -2.35  1.12  0.71 -2.44
1901   2020/5/9  0.50 -1.39 -1.39 -6.18 -3.63
1902   2020/5/9 -5.80 -4.61  4.26  0.13  5.00
1903   2020/5/9  4.17 -0.13 -6.21  1.09  0.77
1904   2020/5/9  0.48 -4.47 -5.50 -1.21 -2.52
...         ...   ...   ...   ...   ...   ...
1995  2020/5/11 -0.96 -1.60 -3.14 -2.72  1.28
1996  2020/5/11  0.76 -0.51  1.92 -0.10  2.85
1997  2020/5/11 -3.20 -4.31 -0.99  0.48 -3.41
1998  2020/5/11 -2.70  2.81 -1.36  1.75  1.90
1999  2020/5/11 -0.73 -2.16  4.14 -1.63  2.83

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2000  2020/5/11  2.41 -4.07 -1.64 -3.68  4.34
2001  2020/5/11  5.88 -2.49  5.40  4.75  3.64
2002  2020/5/12 -4.08 -2.52  1.27  0.09 -4.31
2003  2020/5/12 -2.09  1.52 -1.59  4.64  0.04
2004  2020/5/12 -1.60 -1.30  1.91 -4.01  0.13
...         ...   ...   ...   ...   ...   ...
2095   2020/5/9 -1.26  0.45 -4.73  5.08 -4.22
2096   2020/5/9 -0.26 -2.62 -1.03  2.65 -1.59
2097   2020/5/9 -2.45  0.00 -0.67  0.13 -7.49
2098   2020/5/9  3.63  7.56  0.85 -6.55 -2.65
2099   2020/5/9 -0.80 -3.32 -4.59 -0.81  2.00

[100 rows x 6 columns]
             日期    股票0   股票1   股票2   股票3   股票4
2100   2020/5/8  -1.75 -0.36 -0.45  2.71  3.13
2101   2020/5/8   0.31 -4.64 -0.10 -4.11 -2.66
2102   2020/5/8  -4.60  6.82 -2.11  5.00 -3.00
2103   2020/5/8  -0.47  1.03 -3.84 -4.62  3.09
2104   2020/5/8  -1.56 -1.87 -5.07 -4.19 -0.95
...         ...    ...   ...   ...   ...   ...
2195  2020/5/10  -6.46  1.81  6.17 -4.85  0.14
2196  2020/5/10   3.26  1.65 -7.50 -0.36 -2.29
2197  2020/5/10  10.48  4.59  5.64 -4.44 -2.35
2198  2020/5/10  -1.45 -3.35 -2.85  1.36 -0.99
2199  2020/5/10   4.36 -0.43  0.92 -4.24 -3.75

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2200  2020/5/10  2.78 -0.84  5.93 -1.11 -0.70
2201  2020/5/11 -2.59 -2.60  1.09 -1.55  1.03
2202  2020/5/11 -0.94  3.37 -1.07 -0.56 -0.03
2203  2020/5/11  4.25  1.14  1.93 -3.35 -2.73
2204  2020/5/11  2.03 -1.61  0.46 -0.88  1.91
...         ...   ...   ...   ...   ...   ...
2295   2020/5/8 -0.95  3.45  2.23  0.60  2.91
2296   2020/5/8 -1.46 -0.09 -1.02 -1.45 -0.57
2297   2020/5/8 -3.13  2.58 -4.97  2.60 -0.31
2298   2020/5/8  1.73 -2.26  1.28  5.69 -6.54
2299   2020/5/8  0.14  2.47  5.14 -0.19  4.54

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2300   2020/5/8 -2.83 -1.35 -0.31 -1.85 -1.80
2301   2020/5/8 -4.20 -5.88 -1.04 -0.32 -3.51
2302   2020/5/8  1.80  2.34  0.25 -1.91 -2.55
2303   2020/5/9  4.55  0.93 -2.53  1.95  4.40
2304   2020/5/9  2.73  1.71 -6.92  0.07  0.39
...         ...   ...   ...   ...   ...   ...
2395   2020/5/9 -0.43 -3.76  6.21 -1.33  0.26
2396   2020/5/9  1.26 -0.65 -1.39  3.75  0.24
2397   2020/5/9 -1.35  1.43  6.72  0.20  1.79
2398   2020/5/9  0.86  4.29  3.88 -2.28  4.63
2399  2020/5/10 -1.29 -0.26 -1.98  3.80 -4.05

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2400  2020/5/10  1.70  1.67  0.32  5.57  1.04
2401  2020/5/10  0.49  2.18  3.68  1.99 -3.84
2402  2020/5/10  2.02 -3.02  1.84 -0.69 -2.33
2403  2020/5/10 -4.08 -1.15 -1.23 -1.55  5.03
2404  2020/5/10 -2.52 -0.63 -5.67  2.42  2.33
...         ...   ...   ...   ...   ...   ...
2495  2020/5/12 -6.82  2.13  0.21  3.26 -0.63
2496  2020/5/12  3.22  1.12 -0.38 -2.75 -1.92
2497  2020/5/12 -2.20  1.82  0.46 -1.34  4.55
2498  2020/5/12  4.49 -1.78 -0.08 -0.39  2.41
2499  2020/5/12 -0.48 -2.63 -3.01 -1.16  0.56

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2500  2020/5/12  1.29 -0.25  1.75 -0.49  3.14
2501  2020/5/12 -0.80  4.84  2.87 -4.05  2.43
2502  2020/5/12 -5.64 -2.04  1.96  4.02 -0.48
2503  2020/5/12  0.27  2.29 -2.32  1.13 -0.14
2504   2020/5/8  0.39  0.95  2.28  1.76  1.92
...         ...   ...   ...   ...   ...   ...
2595   2020/5/8 -0.92  0.30  2.27 -0.27  0.50
2596   2020/5/8  0.36  3.61 -5.80 -3.07 -0.48
2597   2020/5/8  4.63 -1.49  0.73  3.15  0.73
2598   2020/5/8  2.78 -2.24 -4.46 -4.97  4.73
2599   2020/5/9  0.60 -1.23  1.24  1.31 -2.93

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2600   2020/5/9  1.15  4.01  2.02 -4.92 -0.29
2601   2020/5/9  4.00 -0.32 -4.48 -1.45  3.00
2602   2020/5/9 -1.09 -3.07 -4.00 -3.84 -1.08
2603   2020/5/9  4.59  1.68 -3.20 -5.34 -1.50
2604   2020/5/9 -0.66 -2.16  6.36  1.76  2.54
...         ...   ...   ...   ...   ...   ...
2695  2020/5/11  2.28  1.59 -3.52  2.99 -0.36
2696  2020/5/11  0.38 -2.73 -2.09  1.62  4.31
2697  2020/5/11  0.66  3.08 -0.73  1.02 -1.84
2698  2020/5/11  5.20 -2.14 -0.89 -1.66  5.57
2699  2020/5/11  1.60 -4.35 -0.43  4.66  2.10

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2700  2020/5/11 -1.68  4.56 -3.86 -0.48  3.66
2701  2020/5/11 -6.21 -4.23 -1.02  1.90 -5.30
2702  2020/5/12 -0.66  1.13  5.87 -2.42 -1.37
2703  2020/5/12  3.92  1.58 -0.08 -0.26 -1.12
2704  2020/5/12 -0.90  0.54  0.65  0.12 -0.43
...         ...   ...   ...   ...   ...   ...
2795   2020/5/9  6.58  6.57  0.35 -1.17  3.17
2796   2020/5/9 -0.71 -1.71 -1.57 -1.10  1.65
2797   2020/5/9 -3.23  0.30 -3.97 -5.12 -1.95
2798   2020/5/9 -3.29 -1.05 -1.80 -0.57  4.80
2799   2020/5/9 -0.20 -2.03  5.24 -3.77 -1.50

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2800   2020/5/8  1.90 -2.22 -1.29 -0.50 -1.56
2801   2020/5/8 -3.11 -3.63  1.44 -1.98 -5.25
2802   2020/5/8 -1.69  0.10  0.34 -0.79  1.41
2803   2020/5/8  4.61  0.98  0.36 -3.19  2.07
2804   2020/5/8 -1.25  6.12 -0.49 -2.68 -0.52
...         ...   ...   ...   ...   ...   ...
2895  2020/5/10  1.79 -3.17  3.85 -2.21 -1.92
2896  2020/5/10 -1.84 -1.79  0.56  3.35  0.61
2897  2020/5/10  1.11 -4.25 -2.21  1.20  1.42
2898  2020/5/10  2.57  3.29 -1.58  2.03 -2.03
2899  2020/5/10  4.88 -0.45 -3.60 -1.48 -1.32

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
2900  2020/5/10  1.75 -2.72 -2.15  2.91 -1.91
2901  2020/5/11 -2.06  1.94  0.38 -0.27  0.62
2902  2020/5/11 -3.37 -2.28  2.12  0.74  4.48
2903  2020/5/11  6.03  3.73 -2.84 -3.05  1.33
2904  2020/5/11  1.52  0.80  3.07 -0.85  3.72
...         ...   ...   ...   ...   ...   ...
2995   2020/5/8 -0.20 -1.11 -4.69  0.33  4.24
2996   2020/5/8 -2.38 -1.68 -6.28  3.79 -2.32
2997   2020/5/8  2.27  3.26 -0.22  1.24  4.02
2998   2020/5/8 -1.76  4.22 -1.39  5.05  2.07
2999   2020/5/8  4.67 -1.46 -0.48  5.25 -1.20

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
3000   2020/5/8 -2.45  1.63 -3.34  0.21  2.10
3001   2020/5/8  1.69  1.88  0.92  0.94 -5.25
3002   2020/5/8  3.46  3.63  2.86  1.59  1.75
3003   2020/5/9 -0.19 -0.80 -0.57 -3.99 -3.17
3004   2020/5/9  1.16  3.07 -1.19 -5.54 -4.36
...         ...   ...   ...   ...   ...   ...
3095   2020/5/9  1.29  3.89  3.05 -2.79  4.95
3096   2020/5/9 -0.55 -3.41  4.30 -1.27 -1.11
3097   2020/5/9 -0.66  2.11  2.04  3.40  3.01
3098   2020/5/9 -4.93 -4.39 -1.40 -1.98 -2.41
3099  2020/5/10 -3.09 -1.10 -2.06  0.03 -1.38

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
3100  2020/5/10 -2.67 -1.78 -4.91  6.61  0.94
3101  2020/5/10  1.17 -4.22 -0.61  4.65  5.90
3102  2020/5/10  3.90 -7.04 -0.48  0.66  1.44
3103  2020/5/10 -2.66  1.22 -2.17 -0.03 -0.88
3104  2020/5/10  3.28  3.81  0.23 -0.77  0.00
...         ...   ...   ...   ...   ...   ...
3195  2020/5/12  3.60 -2.76 -0.39 -4.54 -3.42
3196  2020/5/12  1.24 -4.94 -0.09  5.46  1.51
3197  2020/5/12 -3.19  0.18  0.70 -2.98  2.10
3198  2020/5/12 -3.93 -0.33 -2.33 -0.30  3.29
3199  2020/5/12  4.82  0.07 -0.44  1.40  5.83

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
3200  2020/5/12 -1.60  4.24  2.38 -0.11  2.37
3201  2020/5/12 -0.20  0.14 -0.60  0.09  1.93
3202  2020/5/12 -7.53  0.94 -0.85  1.25 -0.24
3203  2020/5/12  0.72 -2.41 -1.18 -0.91 -3.19
3204   2020/5/8 -1.23 -1.33 -2.77  1.41 -1.28
...         ...   ...   ...   ...   ...   ...
3295   2020/5/8  1.97 -4.83 -1.91  1.90 -3.26
3296   2020/5/8 -1.68 -1.22 -5.30 -4.61  1.34
3297   2020/5/8  4.17 -0.54 -3.70 -0.58  1.55
3298   2020/5/8  0.70 -1.74 -0.72  1.91  2.17
3299   2020/5/9 -0.35 -5.14  2.05 -1.88 -6.75

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
3300   2020/5/9  0.38  2.01 -4.63  3.39  0.02
3301   2020/5/9 -3.37  1.69 -3.15 -4.80 -5.10
3302   2020/5/9 -0.35  2.55  2.20  0.36  3.80
3303   2020/5/9 -1.95  2.39 -5.00 -0.14 -0.31
3304   2020/5/9 -0.41 -3.14  0.89 -1.63 -0.87
...         ...   ...   ...   ...   ...   ...
3395  2020/5/11  0.52  1.81  2.85  5.76  1.67
3396  2020/5/11 -1.44  1.53  1.91  0.74  2.12
3397  2020/5/11  1.27 -0.68 -5.57  0.01 -0.81
3398  2020/5/11  2.52 -2.47 -6.46  2.92 -0.55
3399  2020/5/11 -1.47  3.04 -2.25  0.68 -0.47

[100 rows x 6 columns]
             日期   股票0   股票1   股票2   股票3   股票4
3400  2020/5/11 -0.79 -0.36 -1.19 -0.34 -0.26
3401  2020/5/11 -1.23 -3.53 -0.79  4.51  3.46
3402  2020/5/12  7.43  1.15 -4.05 -7.31  1.44
3403  2020/5/12  0.72 -1.56  1.10 -0.30  1.29
3404  2020/5/12 -0.57 -0.63  4.45 -3.61  0.32
...         ...   ...   ...   ...   ...   ...
3495   2020/5/9 -4.31  1.89  0.67 -3.56 -0.47
3496   2020/5/9 -1.54  0.62  0.33  4.24  3.89
3497   2020/5/9  0.38 -2.75 -1.17  3.62 -3.61
3498   2020/5/9 -2.22 -4.63 -2.98 -0.24  0.80

In [57]:
# 文本处理
df7 = pd.read_table(r'./06.pandas分组聚合读取/exa2.txt',encoding='GBK',sep=r'\s+')
df7

          A         B         C
a -0.264438 -1.026059 -0.619500
b  0.927272  0.302904 -0.032399
c -0.264273 -0.386314 -0.217601
d -0.871858 -0.348382  1.100491